doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name="format-detection" content="telephone=no")
		link(rel="icon" type="image/ico" href="img/logo.png")
		//reset file
		link(rel="stylesheet", href="css/reset.css")
		//slick
		link(rel="stylesheet", href="css/slick-theme.css")
		link(rel="stylesheet", href="css/slick.css")
		//styles
		link(rel="stylesheet", href="css/styles.css")
		title Carmine
	body
		.hidemenu
			ul
				li
					a(href="#price") Прайс
				li
					a(href="#crew") Команда
				li
					a(href="#work") Портфолио
				li
					a(href="#how-we-work") Этапы работы
		.head-bg
			header
				.logo
					img(src="img/logo.png", alt="")
					.logo__text авторская студия дизайна интерьеров
				nav
					ul
						li
							a(href="#price") Прайс
						li
							a(href="#crew") Команда
						li
							a(href="#work") Портфолио
						li
							a(href="#how-we-work") Этапы работы
				.phone-number
					a(href="tel:+74951234567").phone-link +7 495 123 45 67
				.hidemenu__button
					span
					span
					span
					span
					span
					span
			section.head-content
				h1 Сделаю 
					span.low-letter дизайн 
					span.lowest-letter под тебя
				.head-content__img
					img(src="img/photo.png", alt="")
		.about-content-bg
			section.about-content
				.about-content__items
					.calc
						.calc__head
							p Расчитайте стоимость дизайна и ремонта вашей квартиры прямо сейчас:
						.arrow-down
						.slick-content
							.calc__body
								label(for="sq") Укажите площадь помещения, м
									sup 2
								input#sq(placeholder="площадь помещения" type="text")
								button.next
									span.text далее
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="10px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M25.242,5.000 L21.000,9.242 L21.000,5.999 L-0.000,5.999 L-0.000,3.999 L21.000,3.999 L21.000,0.757 L25.242,5.000 Z"/> </svg>
							.calc__body
								label(for="sq") Укажите что-то еще, м
									sup 2
								input#sq(placeholder="что-то еще" type="text")
								button.prev
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="10px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M25.242,5.000 L21.000,9.242 L21.000,5.999 L-0.000,5.999 L-0.000,3.999 L21.000,3.999 L21.000,0.757 L25.242,5.000 Z"/> </svg>
									span.text назад
								button.next
									span.text далее
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="10px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M25.242,5.000 L21.000,9.242 L21.000,5.999 L-0.000,5.999 L-0.000,3.999 L21.000,3.999 L21.000,0.757 L25.242,5.000 Z"/> </svg>
							.calc__body
								label(for="sq") Укажите дополнительно, м
									sup 2
								input#sq(placeholder="доп. инфо" type="text")
								button.prev
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="10px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M25.242,5.000 L21.000,9.242 L21.000,5.999 L-0.000,5.999 L-0.000,3.999 L21.000,3.999 L21.000,0.757 L25.242,5.000 Z"/> </svg>
									span.text назад
								button.next
									span.text отправить
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="10px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M25.242,5.000 L21.000,9.242 L21.000,5.999 L-0.000,5.999 L-0.000,3.999 L21.000,3.999 L21.000,0.757 L25.242,5.000 Z"/> </svg>
						.calc__foot
							span.step.active-step шаг 1
							span.separate
							span.step шаг 2
							span.separate
							span.step шаг 3
					ul.soc
						li
							a(href="#").no-hover
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8px" height="17px"> <path fill-rule="evenodd" fill="rgb(66, 103, 178)" d="M7.994,0.016 L5.504,0.016 C5.504,0.016 1.610,-0.392 1.610,3.656 C1.610,4.520 1.610,5.332 1.610,5.332 L0.027,5.332 L0.001,8.516 L1.610,8.516 L1.610,16.992 L5.302,16.992 L5.302,8.516 L7.434,8.516 L7.953,5.332 L5.302,5.332 L5.302,4.037 C5.302,4.037 5.075,2.943 6.388,2.943 L7.968,2.943 L7.994,0.016 Z"/> </svg>
						li
							a(href="#").no-hover
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17px" height="17px"> <defs> <linearGradient id="PSgrad_0" x1="5.234%" x2="0%" y1="0%" y2="99.863%"> <stop offset="0%" stop-color="rgb(103,31,159)" stop-opacity="1" /> <stop offset="55%" stop-color="rgb(196,51,144)" stop-opacity="1" /> <stop offset="100%" stop-color="rgb(253,169,70)" stop-opacity="1" /> </linearGradient> </defs> <path fill-rule="evenodd" fill="rgb(0, 0, 0)" d="M14.057,3.962 C14.057,4.525 13.600,4.982 13.037,4.982 C12.473,4.982 12.016,4.525 12.016,3.962 C12.016,3.398 12.473,2.941 13.037,2.941 C13.600,2.941 14.057,3.398 14.057,3.962 ZM8.499,11.332 C6.935,11.332 5.666,10.063 5.666,8.499 C5.666,6.934 6.935,5.666 8.499,5.666 C10.064,5.666 11.333,6.934 11.333,8.499 C11.333,10.063 10.064,11.332 8.499,11.332 ZM8.499,4.134 C6.089,4.134 4.134,6.088 4.134,8.499 C4.134,10.909 6.089,12.864 8.499,12.864 C10.910,12.864 12.864,10.909 12.864,8.499 C12.864,6.088 10.910,4.134 8.499,4.134 ZM8.499,1.530 C10.769,1.530 11.038,1.539 11.934,1.580 C12.763,1.618 13.213,1.756 13.512,1.873 C13.909,2.026 14.192,2.211 14.490,2.509 C14.787,2.806 14.971,3.089 15.126,3.486 C15.242,3.785 15.381,4.235 15.418,5.064 C15.459,5.961 15.468,6.230 15.468,8.499 C15.468,10.769 15.459,11.038 15.418,11.934 C15.381,12.762 15.242,13.212 15.126,13.512 C14.971,13.908 14.787,14.192 14.490,14.489 C14.192,14.787 13.909,14.971 13.512,15.125 C13.213,15.241 12.763,15.380 11.934,15.418 C11.038,15.459 10.769,15.467 8.499,15.467 C6.229,15.467 5.961,15.459 5.065,15.418 C4.236,15.380 3.786,15.242 3.486,15.125 C3.089,14.971 2.806,14.787 2.509,14.489 C2.211,14.192 2.027,13.909 1.873,13.512 C1.757,13.212 1.618,12.762 1.580,11.934 C1.539,11.037 1.531,10.769 1.531,8.499 C1.531,6.230 1.539,5.961 1.580,5.064 C1.618,4.235 1.757,3.785 1.873,3.486 C2.027,3.089 2.211,2.806 2.509,2.509 C2.806,2.211 3.089,2.026 3.486,1.873 C3.786,1.756 4.236,1.618 5.065,1.580 C5.961,1.539 6.230,1.530 8.499,1.530 ZM8.499,-0.001 C6.191,-0.001 5.901,0.009 4.995,0.049 C4.090,0.091 3.472,0.235 2.931,0.445 C2.373,0.662 1.899,0.953 1.426,1.425 C0.954,1.898 0.663,2.372 0.446,2.931 C0.236,3.471 0.092,4.089 0.051,4.994 C0.009,5.901 -0.000,6.191 -0.000,8.499 C-0.000,10.807 0.009,11.097 0.051,12.003 C0.092,12.908 0.236,13.526 0.446,14.066 C0.663,14.625 0.954,15.100 1.426,15.572 C1.899,16.044 2.373,16.335 2.931,16.553 C3.472,16.763 4.090,16.906 4.995,16.947 C5.901,16.989 6.191,16.998 8.499,16.998 C10.808,16.998 11.098,16.989 12.004,16.947 C12.909,16.906 13.526,16.763 14.067,16.553 C14.626,16.335 15.100,16.044 15.573,15.572 C16.045,15.100 16.336,14.625 16.553,14.066 C16.763,13.526 16.907,12.908 16.948,12.003 C16.990,11.097 16.999,10.807 16.999,8.499 C16.999,6.191 16.990,5.901 16.948,4.994 C16.907,4.089 16.763,3.471 16.553,2.931 C16.336,2.372 16.045,1.898 15.573,1.425 C15.100,0.953 14.626,0.662 14.067,0.445 C13.526,0.235 12.909,0.091 12.004,0.049 C11.098,0.009 10.808,-0.001 8.499,-0.001 Z"/> <path fill="url(#PSgrad_0)" d="M14.057,3.962 C14.057,4.525 13.600,4.982 13.037,4.982 C12.473,4.982 12.016,4.525 12.016,3.962 C12.016,3.398 12.473,2.941 13.037,2.941 C13.600,2.941 14.057,3.398 14.057,3.962 ZM8.499,11.332 C6.935,11.332 5.666,10.063 5.666,8.499 C5.666,6.934 6.935,5.666 8.499,5.666 C10.064,5.666 11.333,6.934 11.333,8.499 C11.333,10.063 10.064,11.332 8.499,11.332 ZM8.499,4.134 C6.089,4.134 4.134,6.088 4.134,8.499 C4.134,10.909 6.089,12.864 8.499,12.864 C10.910,12.864 12.864,10.909 12.864,8.499 C12.864,6.088 10.910,4.134 8.499,4.134 ZM8.499,1.530 C10.769,1.530 11.038,1.539 11.934,1.580 C12.763,1.618 13.213,1.756 13.512,1.873 C13.909,2.026 14.192,2.211 14.490,2.509 C14.787,2.806 14.971,3.089 15.126,3.486 C15.242,3.785 15.381,4.235 15.418,5.064 C15.459,5.961 15.468,6.230 15.468,8.499 C15.468,10.769 15.459,11.038 15.418,11.934 C15.381,12.762 15.242,13.212 15.126,13.512 C14.971,13.908 14.787,14.192 14.490,14.489 C14.192,14.787 13.909,14.971 13.512,15.125 C13.213,15.241 12.763,15.380 11.934,15.418 C11.038,15.459 10.769,15.467 8.499,15.467 C6.229,15.467 5.961,15.459 5.065,15.418 C4.236,15.380 3.786,15.242 3.486,15.125 C3.089,14.971 2.806,14.787 2.509,14.489 C2.211,14.192 2.027,13.909 1.873,13.512 C1.757,13.212 1.618,12.762 1.580,11.934 C1.539,11.037 1.531,10.769 1.531,8.499 C1.531,6.230 1.539,5.961 1.580,5.064 C1.618,4.235 1.757,3.785 1.873,3.486 C2.027,3.089 2.211,2.806 2.509,2.509 C2.806,2.211 3.089,2.026 3.486,1.873 C3.786,1.756 4.236,1.618 5.065,1.580 C5.961,1.539 6.230,1.530 8.499,1.530 ZM8.499,-0.001 C6.191,-0.001 5.901,0.009 4.995,0.049 C4.090,0.091 3.472,0.235 2.931,0.445 C2.373,0.662 1.899,0.953 1.426,1.425 C0.954,1.898 0.663,2.372 0.446,2.931 C0.236,3.471 0.092,4.089 0.051,4.994 C0.009,5.901 -0.000,6.191 -0.000,8.499 C-0.000,10.807 0.009,11.097 0.051,12.003 C0.092,12.908 0.236,13.526 0.446,14.066 C0.663,14.625 0.954,15.100 1.426,15.572 C1.899,16.044 2.373,16.335 2.931,16.553 C3.472,16.763 4.090,16.906 4.995,16.947 C5.901,16.989 6.191,16.998 8.499,16.998 C10.808,16.998 11.098,16.989 12.004,16.947 C12.909,16.906 13.526,16.763 14.067,16.553 C14.626,16.335 15.100,16.044 15.573,15.572 C16.045,15.100 16.336,14.625 16.553,14.066 C16.763,13.526 16.907,12.908 16.948,12.003 C16.990,11.097 16.999,10.807 16.999,8.499 C16.999,6.191 16.990,5.901 16.948,4.994 C16.907,4.089 16.763,3.471 16.553,2.931 C16.336,2.372 16.045,1.898 15.573,1.425 C15.100,0.953 14.626,0.662 14.067,0.445 C13.526,0.235 12.909,0.091 12.004,0.049 C11.098,0.009 10.808,-0.001 8.499,-0.001 Z"/> </svg>
						li
							a(href="#").no-hover
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="15px"> <path fill-rule="evenodd" fill="rgb(29, 161, 242)" d="M0.191,10.965 C0.191,10.965 2.890,11.897 4.012,11.897 C4.012,11.897 5.510,12.489 6.537,10.905 C6.537,10.905 6.884,10.411 6.415,10.171 C6.415,10.171 2.133,9.678 2.459,8.900 C2.459,8.900 2.438,8.461 3.030,8.560 C3.030,8.560 3.856,6.990 3.529,6.791 C3.529,6.791 3.019,6.351 3.427,6.311 C3.427,6.311 4.627,6.471 5.015,6.571 C5.015,6.571 5.280,6.478 5.035,6.298 C4.790,6.117 4.383,5.713 4.464,5.634 C4.464,5.634 4.607,5.296 5.260,5.574 C5.260,5.574 5.623,5.189 5.440,4.991 C5.440,4.991 4.889,4.671 5.154,4.411 C5.154,4.411 6.397,2.882 7.783,5.294 C7.783,5.294 8.129,5.753 8.170,5.314 C8.170,5.314 9.864,0.593 12.088,0.213 C12.088,0.213 12.801,0.353 12.944,0.133 C12.944,0.133 13.562,-0.106 13.766,0.094 C13.766,0.094 13.970,0.393 14.215,0.213 C14.215,0.213 15.092,-0.126 14.827,0.433 C14.827,0.433 13.987,1.340 13.681,1.360 C13.375,1.380 13.436,1.784 13.701,1.824 C13.701,1.824 17.369,2.082 17.369,4.757 C17.369,4.757 17.584,5.393 18.277,4.735 C18.277,4.735 19.327,4.081 19.592,4.050 C19.592,4.050 19.878,3.870 19.837,4.289 C19.837,4.289 19.082,5.568 18.308,5.927 C18.308,5.927 17.838,6.505 18.512,6.386 C18.512,6.386 19.166,6.253 19.472,6.074 C19.472,6.074 20.268,5.695 19.901,6.373 C19.901,6.373 18.226,7.437 17.859,7.437 C17.859,7.437 17.614,7.496 17.614,7.716 C17.614,7.716 17.390,15.001 8.049,15.001 C8.049,15.001 3.372,14.996 0.313,11.483 C0.313,11.483 -0.278,10.864 0.191,10.965 Z"/> </svg>
						li
							a(href="#").no-hover
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="15px"> <path fill-rule="evenodd" fill="rgb(74, 118, 168)" d="M11.995,10.400 C11.995,9.383 11.716,8.574 11.159,7.973 C10.604,7.372 9.861,6.975 8.937,6.781 L8.937,6.701 C9.579,6.429 10.084,6.010 10.449,5.441 C10.816,4.869 10.998,4.222 10.998,3.490 C10.998,2.857 10.864,2.300 10.599,1.817 C10.335,1.335 9.933,0.947 9.397,0.658 C8.902,0.390 8.370,0.216 7.803,0.134 C7.236,0.048 6.401,0.006 5.301,0.006 L0.007,0.006 L0.007,14.989 L6.005,14.989 C7.047,14.989 7.902,14.896 8.576,14.707 C9.253,14.518 9.871,14.205 10.434,13.763 C10.912,13.393 11.290,12.928 11.571,12.365 C11.854,11.800 11.995,11.145 11.995,10.400 L11.995,10.400 ZM7.174,4.245 C7.174,4.001 7.112,3.753 6.988,3.500 C6.865,3.246 6.673,3.061 6.408,2.947 C6.161,2.838 5.868,2.777 5.528,2.768 C5.188,2.757 4.683,2.755 4.013,2.755 L3.751,2.755 L3.751,5.924 L4.225,5.924 C4.868,5.924 5.322,5.918 5.580,5.905 C5.837,5.892 6.105,5.822 6.380,5.695 C6.679,5.553 6.888,5.359 7.002,5.111 C7.116,4.860 7.174,4.570 7.174,4.245 L7.174,4.245 ZM8.118,10.331 C8.118,9.868 8.026,9.507 7.837,9.246 C7.648,8.982 7.366,8.786 6.992,8.652 C6.765,8.561 6.449,8.514 6.050,8.505 C5.652,8.494 5.115,8.490 4.446,8.490 L3.751,8.490 L3.751,12.241 L3.955,12.241 C4.933,12.241 5.611,12.235 5.985,12.220 C6.359,12.206 6.745,12.118 7.133,11.950 C7.476,11.800 7.723,11.585 7.882,11.300 C8.040,11.016 8.118,10.692 8.118,10.331 Z"/> </svg>
						li
							a(href="#").no-hover
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19px" height="17px"> <path fill-rule="evenodd" fill="rgb(47, 167, 219)" d="M15.294,16.999 C15.146,16.999 14.998,16.955 14.872,16.869 L10.094,13.627 L7.532,15.472 C7.331,15.617 7.072,15.653 6.839,15.569 C6.606,15.486 6.428,15.293 6.365,15.053 L5.078,10.175 L0.481,8.416 C0.192,8.305 -0.001,8.028 -0.003,7.718 C-0.004,7.408 0.184,7.129 0.471,7.014 L17.953,0.055 C18.032,0.022 18.116,0.002 18.201,-0.003 C18.231,-0.005 18.261,-0.005 18.292,-0.003 C18.467,0.008 18.640,0.079 18.774,0.211 C18.788,0.224 18.801,0.238 18.813,0.252 C18.925,0.380 18.986,0.535 18.997,0.693 C19.000,0.733 19.000,0.773 18.997,0.813 C18.994,0.842 18.990,0.871 18.984,0.899 L16.033,16.388 C15.986,16.637 15.817,16.844 15.583,16.941 C15.490,16.980 15.392,16.999 15.294,16.999 L15.294,16.999 ZM10.514,12.093 L14.770,14.981 L17.066,2.929 L8.773,10.912 L10.494,12.080 C10.501,12.084 10.507,12.089 10.514,12.093 L10.514,12.093 ZM6.971,11.451 L7.540,13.611 L8.769,12.727 L7.161,11.636 C7.086,11.586 7.022,11.523 6.971,11.451 L6.971,11.451 ZM2.819,7.699 L5.976,8.907 C6.203,8.993 6.372,9.183 6.435,9.417 L6.835,10.935 C6.853,10.760 6.933,10.596 7.062,10.472 L14.963,2.865 L2.819,7.699 Z"/> </svg>
				.about-content__text
					.head-content__img.hide-desktop
						img(src="img/photo.png", alt="")
					p Привет! Я Надя. Если ты хочешь дизайн, проработанный до самых мелких деталий, то я готова стать в этом твоим надежным партнером и другом. Например, для меня очень важны узлы примыкания и то как падает свет на различные поверхности. По менению моих клиентов я особенно сильна в вариантах планировок и сочитании фактур. 
					p Что касается регалий, я выпускница МАРХИ и действующий член международного союза дизайнеров.
					p.last-text Приятно познакомиться)
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="74px" height="45px"> <path fill-rule="evenodd" fill="rgb(153, 153, 153)" d="M70.450,28.622 C70.450,27.915 71.025,27.340 71.732,27.340 C72.439,27.340 73.014,27.915 73.014,28.622 C73.014,29.329 72.439,29.903 71.732,29.903 C71.025,29.903 70.450,29.329 70.450,28.622 ZM73.980,37.501 L63.157,37.501 L63.157,34.104 L57.090,34.110 C57.088,34.156 57.087,34.203 57.071,34.250 C56.597,35.589 54.840,39.976 52.154,40.218 C52.075,40.225 51.997,40.229 51.920,40.229 C50.528,40.229 49.182,39.109 47.916,36.895 L41.867,27.418 C41.718,27.184 41.787,26.874 42.021,26.726 C42.252,26.578 42.564,26.645 42.713,26.878 L48.774,36.378 C49.912,38.366 51.028,39.298 52.063,39.220 C53.467,39.094 54.796,37.084 55.678,35.047 L55.393,35.196 L43.937,13.376 C42.716,13.284 39.393,12.987 38.467,12.904 L31.791,19.679 C29.924,21.112 28.154,21.611 26.477,21.215 C23.670,20.549 22.212,17.605 22.151,17.480 L22.016,17.201 L30.995,5.507 C34.059,1.657 37.167,1.569 37.298,1.567 L50.735,1.627 L63.157,7.028 L63.157,2.891 L73.903,2.891 L73.903,3.892 L64.159,3.892 L64.159,36.499 L73.980,36.499 L73.980,37.501 ZM56.013,34.219 C56.026,34.183 56.039,34.147 56.053,34.110 L55.955,34.111 L56.013,34.219 ZM63.157,8.120 L50.430,2.588 L37.304,2.569 C37.287,2.569 34.527,2.679 31.785,6.124 L23.200,17.306 C23.601,17.991 24.818,19.794 26.715,20.241 C28.078,20.562 29.567,20.123 31.130,18.930 L38.085,11.864 L38.321,11.885 C38.371,11.890 43.318,12.335 44.284,12.396 L44.565,12.414 L55.430,33.109 L63.157,33.103 L63.157,8.120 ZM4.491,25.629 C4.491,26.335 3.916,26.910 3.210,26.910 C2.503,26.910 1.927,26.335 1.927,25.629 C1.927,24.921 2.503,24.347 3.210,24.347 C3.916,24.347 4.491,24.921 4.491,25.629 ZM11.807,29.090 L16.254,29.090 L23.578,41.648 C25.081,44.190 27.394,44.137 28.638,43.878 L28.843,44.858 C28.517,44.926 28.060,44.993 27.530,44.993 C26.087,44.993 24.096,44.495 22.714,42.155 L15.678,30.092 L11.807,30.092 L11.807,34.607 L0.984,34.607 L0.984,33.606 L10.804,33.606 L10.804,0.999 L1.061,0.999 L1.061,-0.003 L11.807,-0.003 L11.807,4.096 L25.762,4.096 L25.762,5.098 L11.807,5.098 L11.807,29.090 ZM29.969,36.425 L32.759,41.272 C32.761,41.275 32.761,41.279 32.763,41.283 L32.768,41.280 C33.328,42.303 33.997,42.915 34.754,43.099 C35.725,43.336 36.563,42.784 36.572,42.778 L37.138,43.605 C37.098,43.632 36.315,44.160 35.254,44.160 C35.025,44.160 34.783,44.135 34.533,44.076 C33.492,43.829 32.608,43.056 31.904,41.786 C31.900,41.780 31.893,41.778 31.890,41.772 L29.100,36.925 C28.961,36.685 29.045,36.379 29.285,36.241 C29.521,36.104 29.830,36.185 29.969,36.425 ZM35.314,31.861 C35.180,31.619 35.267,31.314 35.510,31.180 C35.747,31.045 36.056,31.132 36.191,31.375 L40.490,39.115 C40.495,39.125 40.495,39.136 40.500,39.147 C42.208,42.003 44.206,41.164 45.405,40.658 L45.794,41.580 C45.252,41.809 44.381,42.178 43.391,42.178 C42.176,42.178 40.781,41.624 39.590,39.582 L39.599,39.577 L35.314,31.861 Z"/> </svg>
		#price
			section.price
				h2 Стоимость услуги
				.price-items
					.price-card
						.price-card__hide
							p Базовый дизайн-проект
							p.price 9 990
								span.sup &#8381;/м
									sup 2
							ul
								li Планировочное решение
								li 3Д Визуализации 
								li Подбор материалов
								li Строительные чертежи
						.price-card__head
							img(src="img/ph-1.png", alt="")
						.price-card__body
							p Базовый дизайн-проект
							p.price 9 990
								span.sup &#8381;/м
									sup 2
						.price-card__foot
							.plus-there
							button.send Отправить заявку
					.price-card
						.price-card__hide
							p Полный дизайн-проект
							p.price 19 990
								span.sup &#8381;/м
									sup 2
							.ul-content
								ul
									li Планировочное решение
									li 3Д Визуализации 
									li Подбор материалов
									li Строительные чертежи
								ul.more
									li Авторский надзор
						.price-card__head
							img(src="img/ph-2.png", alt="")
						.price-card__body
							p Полный дизайн-проект
							p.price 19 990
								span.sup &#8381;/м
									sup 2
						.price-card__foot
							.plus-there
							button.send Отправить заявку
					.price-card
						.price-card__hide
							p Экскюзивный дизайн-проект
							p.price 49 990
								span.sup &#8381;/м
									sup 2
							.ul-content
								ul
									li Планировочное решение
									li 3Д Визуализации 
									li Подбор материалов
									li Строительные чертежи
								ul.more
									li Авторский надзор
						.price-card__head
							img(src="img/ph-3.png", alt="")
						.price-card__body
							p Экскюзивный дизайн-проект
							p.price 49 990
								span.sup &#8381;/м
									sup 2
						.price-card__foot
							.plus-there
							button.send Отправить заявку
		#crew
			section.our-crew
				.our-crew__text
					h2 Наша Команда
					p Мы - команда активных и амбициозных молодых людей, которые ставят перед собой  большие цели и  не боятся трудностей их реализации
				.our-crew__carousel
					.our-crew__carousel-items
						.carousel-card
							img(src="img/nad.png", alt="")
							.carousel-card__text
								h5 Надежда Требухина
								p Дизайнер интерьеров
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="10px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M25.242,5.000 L21.000,9.242 L21.000,5.999 L-0.000,5.999 L-0.000,3.999 L21.000,3.999 L21.000,0.757 L25.242,5.000 Z"/> </svg>
						.carousel-card
							img(src="img/vl.png", alt="")
							.carousel-card__text
								h5 Владимир Егоров
								p 3D-визуализатор
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="10px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M25.242,5.000 L21.000,9.242 L21.000,5.999 L-0.000,5.999 L-0.000,3.999 L21.000,3.999 L21.000,0.757 L25.242,5.000 Z"/> </svg>
					.our-crew__carousel-items
						.carousel-card
							img(src="img/nad.png", alt="")
							.carousel-card__text
								h5 Надежда Требухина
								p Дизайнер интерьеров
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="10px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M25.242,5.000 L21.000,9.242 L21.000,5.999 L-0.000,5.999 L-0.000,3.999 L21.000,3.999 L21.000,0.757 L25.242,5.000 Z"/> </svg>
						.carousel-card
							img(src="img/vl.png", alt="")
							.carousel-card__text
								h5 Владимир Егоров
								p 3D-визуализатор
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="10px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M25.242,5.000 L21.000,9.242 L21.000,5.999 L-0.000,5.999 L-0.000,3.999 L21.000,3.999 L21.000,0.757 L25.242,5.000 Z"/> </svg>
				.our-crew__carousel.mobile-carousel
					.our-crew__carousel-items
						.carousel-card
							img(src="img/nad.png", alt="")
							.carousel-card__text
								h5 Надежда Требухина
								p Дизайнер интерьеров
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="10px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M25.242,5.000 L21.000,9.242 L21.000,5.999 L-0.000,5.999 L-0.000,3.999 L21.000,3.999 L21.000,0.757 L25.242,5.000 Z"/> </svg>
					.our-crew__carousel-items
						.carousel-card
							img(src="img/vl.png", alt="")
							.carousel-card__text
								h5 Владимир Егоров
								p 3D-визуализатор
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="10px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M25.242,5.000 L21.000,9.242 L21.000,5.999 L-0.000,5.999 L-0.000,3.999 L21.000,3.999 L21.000,0.757 L25.242,5.000 Z"/> </svg>
					.our-crew__carousel-items
						.carousel-card
							img(src="img/nad.png", alt="")
							.carousel-card__text
								h5 Надежда Требухина
								p Дизайнер интерьеров
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="10px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M25.242,5.000 L21.000,9.242 L21.000,5.999 L-0.000,5.999 L-0.000,3.999 L21.000,3.999 L21.000,0.757 L25.242,5.000 Z"/> </svg>
					.our-crew__carousel-items
						.carousel-card
							img(src="img/vl.png", alt="")
							.carousel-card__text
								h5 Владимир Егоров
								p 3D-визуализатор
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="10px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M25.242,5.000 L21.000,9.242 L21.000,5.999 L-0.000,5.999 L-0.000,3.999 L21.000,3.999 L21.000,0.757 L25.242,5.000 Z"/> </svg>
		#work
			h2 Наши работы
			.gallery
				a(href="#").open-modal
					img(src="img/gall-1.png", alt="")
				a(href="#").open-modal
					img(src="img/gall-2.png", alt="")
				a(href="#").open-modal
					img(src="img/gall-3.png", alt="")
				a(href="#").open-modal
					img(src="img/gall-4.png", alt="")
				a(href="#").open-modal
					img(src="img/gall-5.png", alt="")
			button.more Показать еще
		#how-we-work
			section.we-work
				h2 Как мы это делаем
				.work-items
					.work-items__card
						p.num 1
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px"> <path fill-rule="evenodd" fill="rgb(110, 43, 209)" d="M64.000,22.000 L64.000,24.000 L56.999,24.000 C56.447,24.000 55.999,23.552 55.999,23.000 L55.999,22.000 L54.566,22.000 L48.933,31.386 L47.998,35.132 C47.940,36.735 46.855,38.999 43.999,38.999 C41.627,38.999 40.999,36.383 40.999,35.000 L40.999,32.000 C40.999,31.927 41.007,31.854 41.023,31.783 L42.753,24.000 L23.000,24.000 C21.345,24.000 20.000,22.654 20.000,20.999 L20.000,20.000 C20.000,18.345 21.345,17.000 23.000,17.000 L40.999,17.000 L40.999,19.000 L23.000,19.000 C22.448,19.000 22.000,19.448 22.000,20.000 L22.000,20.999 C22.000,21.551 22.448,22.000 23.000,22.000 L43.999,22.000 C44.303,22.000 44.590,22.138 44.780,22.374 C44.969,22.610 45.041,22.920 44.976,23.216 L43.000,32.109 L43.000,35.000 C43.000,35.016 43.055,37.000 43.999,37.000 C45.903,37.000 46.000,35.334 46.000,35.000 C46.000,34.918 46.009,34.837 46.030,34.757 L47.030,30.757 C47.053,30.661 47.091,30.570 47.142,30.485 L53.142,20.485 C53.323,20.184 53.648,20.000 54.000,20.000 L55.999,20.000 L55.999,1.000 C55.999,0.447 56.447,-0.001 56.999,-0.001 L64.000,-0.001 L64.000,2.000 L58.000,2.000 L58.000,22.000 L64.000,22.000 ZM35.999,5.000 L35.999,6.000 L34.000,6.000 L34.000,5.000 C34.000,3.345 35.346,2.000 37.000,2.000 L54.000,2.000 L54.000,4.000 L37.000,4.000 C36.448,4.000 35.999,4.448 35.999,5.000 ZM40.000,7.000 L40.000,9.000 L34.000,9.000 C33.448,9.000 32.999,9.448 32.999,9.999 L32.999,11.000 L31.000,11.000 L31.000,9.999 C31.000,8.346 32.345,7.000 34.000,7.000 L40.000,7.000 ZM37.999,12.000 L37.999,14.000 L32.000,14.000 C31.448,14.000 31.000,14.448 31.000,15.000 L31.000,15.999 L29.000,15.999 L29.000,15.000 C29.000,13.345 30.345,12.000 32.000,12.000 L37.999,12.000 ZM29.000,31.000 L29.000,33.000 L27.000,33.000 L27.000,31.000 L29.000,31.000 ZM32.999,31.000 L32.999,33.000 L31.000,33.000 L31.000,31.000 L32.999,31.000 ZM37.000,31.000 L37.000,33.000 L34.999,33.000 L34.999,31.000 L37.000,31.000 ZM23.000,28.999 L23.000,32.000 C23.000,32.073 22.992,32.145 22.976,32.216 L21.247,40.000 L40.999,40.000 C42.654,40.000 43.999,41.345 43.999,42.999 L43.999,43.999 C43.999,45.654 42.654,46.999 40.999,46.999 L23.000,46.999 L23.000,45.000 L40.999,45.000 C41.551,45.000 42.000,44.551 42.000,43.999 L42.000,42.999 C42.000,42.448 41.551,42.000 40.999,42.000 L20.000,42.000 C19.696,42.000 19.410,41.862 19.219,41.625 C19.030,41.389 18.958,41.078 19.023,40.783 L21.000,31.890 L21.000,28.999 C21.000,28.983 20.944,27.000 20.000,27.000 C18.096,27.000 18.000,28.666 18.000,28.999 C18.000,29.081 17.990,29.163 17.969,29.242 L16.969,33.242 C16.946,33.338 16.908,33.429 16.857,33.514 L10.857,43.514 C10.676,43.815 10.351,43.999 10.000,43.999 L8.000,43.999 L8.000,63.000 C8.000,63.552 7.552,64.000 6.999,64.000 L-0.000,64.000 L-0.000,61.999 L6.000,61.999 L6.000,42.000 L-0.000,42.000 L-0.000,40.000 L6.999,40.000 C7.552,40.000 8.000,40.447 8.000,41.000 L8.000,42.000 L9.433,42.000 L15.066,32.613 L16.001,28.867 C16.059,27.264 17.144,24.999 20.000,24.999 C22.373,24.999 23.000,27.616 23.000,28.999 ZM28.000,59.000 L28.000,58.000 L30.000,58.000 L30.000,59.000 C30.000,60.654 28.654,61.999 27.000,61.999 L10.000,61.999 L10.000,60.000 L27.000,60.000 C27.552,60.000 28.000,59.551 28.000,59.000 ZM23.999,57.000 L23.999,55.000 L30.000,55.000 C30.552,55.000 31.000,54.551 31.000,53.999 L31.000,53.000 L32.999,53.000 L32.999,53.999 C32.999,55.654 31.654,57.000 30.000,57.000 L23.999,57.000 ZM26.000,51.999 L26.000,50.000 L32.000,50.000 C32.551,50.000 32.999,49.551 32.999,49.000 L32.999,48.000 L34.999,48.000 L34.999,49.000 C34.999,50.654 33.654,51.999 32.000,51.999 L26.000,51.999 Z"/> </svg>
						p Знакомимся, проводим обмеры, разрабатываем планировку
					.work-items__card
						p.num 2
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px"> <path fill-rule="evenodd" fill="rgb(110, 43, 209)" d="M57.999,43.999 L56.999,43.999 L55.000,43.999 L55.000,48.000 L39.000,48.000 L39.000,46.000 L53.000,46.000 L53.000,43.999 L10.000,43.999 L6.000,43.999 C5.818,43.999 5.641,43.951 5.485,43.857 L0.485,40.857 C0.184,40.676 -0.001,40.351 -0.001,40.000 C-0.001,39.648 0.184,39.323 0.485,39.142 L5.485,36.142 C5.641,36.048 5.818,35.999 6.000,35.999 L10.000,35.999 L56.999,35.999 L57.999,35.999 L64.000,35.999 L64.000,43.999 L57.999,43.999 ZM8.999,38.000 L6.277,38.000 L2.944,40.000 L6.277,42.000 L8.999,42.000 L8.999,38.000 ZM21.000,38.000 L11.000,38.000 L11.000,42.000 L21.000,42.000 L21.000,38.000 ZM56.999,38.000 L23.000,38.000 L23.000,42.000 L56.999,42.000 L56.999,38.000 ZM62.000,38.000 L59.000,38.000 L59.000,42.000 L62.000,42.000 L62.000,38.000 ZM15.000,7.999 L16.999,7.999 L16.999,9.999 L15.000,9.999 L15.000,7.999 ZM21.000,7.999 L21.000,9.999 L19.000,9.999 L19.000,7.999 L21.000,7.999 ZM24.999,7.999 L24.999,9.999 L23.000,9.999 L23.000,7.999 L24.999,7.999 ZM15.000,14.000 L48.999,14.000 L48.999,15.999 L15.000,15.999 L15.000,14.000 ZM15.000,17.999 L48.999,17.999 L48.999,20.000 L15.000,20.000 L15.000,17.999 ZM15.000,22.000 L48.999,22.000 L48.999,24.000 L15.000,24.000 L15.000,22.000 ZM15.000,32.000 L15.000,30.000 L30.999,30.000 L30.999,32.000 L15.000,32.000 ZM15.000,25.999 L48.999,25.999 L48.999,27.999 L15.000,27.999 L15.000,25.999 ZM53.000,9.999 L45.000,9.999 L45.000,2.000 L11.000,2.000 L11.000,33.999 L8.999,33.999 L8.999,-0.001 L46.414,-0.001 L55.000,8.586 L55.000,33.999 L53.000,33.999 L53.000,9.999 ZM47.000,3.414 L47.000,7.999 L51.585,7.999 L47.000,3.414 ZM29.707,52.707 C29.162,53.252 28.415,53.999 27.000,53.999 C25.586,53.999 24.838,53.252 24.293,52.707 C23.802,52.216 23.562,51.999 23.000,51.999 C22.438,51.999 22.197,52.216 21.706,52.707 C21.160,53.252 20.413,53.999 19.000,53.999 C17.587,53.999 16.839,53.252 16.293,52.707 C15.802,52.216 15.561,51.999 15.000,51.999 L15.000,50.000 C16.413,50.000 17.160,50.747 17.706,51.293 C18.197,51.783 18.438,51.999 19.000,51.999 C19.561,51.999 19.802,51.783 20.293,51.293 C20.839,50.747 21.586,50.000 23.000,50.000 C24.413,50.000 25.161,50.747 25.706,51.293 C26.197,51.783 26.438,51.999 27.000,51.999 C27.563,51.999 27.803,51.783 28.292,51.293 C28.837,50.747 29.584,50.000 30.999,50.000 C32.415,50.000 33.162,50.747 33.707,51.293 C34.197,51.783 34.437,51.999 35.000,51.999 L35.000,53.999 C33.584,53.999 32.838,53.252 32.292,52.707 C31.802,52.216 31.563,51.999 30.999,51.999 C30.437,51.999 30.197,52.216 29.707,52.707 ZM35.000,58.000 L15.000,58.000 L15.000,56.000 L35.000,56.000 L35.000,58.000 ZM11.000,61.999 L53.000,61.999 L53.000,50.000 L55.000,50.000 L55.000,64.000 L8.999,64.000 L8.999,46.000 L11.000,46.000 L11.000,61.999 Z"/> </svg>
						p Заключаем договор, вносим корректировки, делаем финальную планировку
					.work-items__card
						p.num 3
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px"> <path fill-rule="evenodd" fill="rgb(110, 43, 209)" d="M49.707,17.293 L48.293,18.707 L43.586,14.000 L48.293,9.293 L49.707,10.707 L47.414,13.000 L64.000,13.000 L64.000,15.000 L47.414,15.000 L49.707,17.293 ZM64.000,51.000 C64.000,58.289 49.944,64.000 32.000,64.000 C14.055,64.000 -0.000,58.289 -0.000,51.000 C-0.000,46.334 5.724,42.187 15.326,39.858 L24.009,13.810 C24.086,10.542 26.128,7.756 29.000,6.589 L29.000,-0.001 L35.000,-0.001 L35.000,6.589 C37.871,7.756 39.913,10.542 39.990,13.810 L48.673,39.858 C58.275,42.188 64.000,46.334 64.000,51.000 ZM17.000,41.162 L17.000,46.168 L27.793,21.207 L26.293,19.707 C25.693,19.095 25.229,18.368 24.855,17.594 L17.000,41.162 ZM25.305,32.000 L29.184,32.000 C29.598,30.838 30.697,30.000 32.000,30.000 C33.302,30.000 34.401,30.838 34.815,32.000 L38.694,32.000 L32.000,16.519 L25.305,32.000 ZM32.999,2.000 L31.000,2.000 L31.000,6.000 L32.999,6.000 L32.999,2.000 ZM32.000,7.999 C28.691,7.999 26.000,10.691 26.000,14.000 C26.000,15.598 26.640,17.205 27.714,18.299 L28.647,19.233 L31.081,13.603 C31.240,13.236 31.601,13.000 32.000,13.000 C32.398,13.000 32.760,13.236 32.918,13.603 L35.352,19.233 L36.292,18.293 C37.359,17.204 38.000,15.597 38.000,14.000 C38.000,10.691 35.308,7.999 32.000,7.999 ZM47.000,41.162 L39.144,17.594 C38.771,18.366 38.310,19.091 37.713,19.700 L36.206,21.207 L47.000,46.168 L47.000,41.162 ZM48.000,51.999 C47.607,51.999 47.243,51.768 47.082,51.397 L39.559,33.999 L34.815,33.999 C34.401,35.161 33.302,35.999 32.000,35.999 C30.697,35.999 29.598,35.161 29.184,33.999 L24.441,33.999 L16.918,51.397 C16.729,51.831 16.269,52.073 15.797,51.979 C15.333,51.883 15.000,51.474 15.000,51.000 L15.000,42.000 C6.951,44.088 2.000,47.487 2.000,51.000 C2.000,56.311 14.054,61.999 32.000,61.999 C49.945,61.999 61.999,56.311 61.999,51.000 C61.999,47.486 57.049,44.088 49.000,42.000 L49.000,51.000 C49.000,51.474 48.667,51.883 48.203,51.979 C48.134,51.993 48.066,51.999 48.000,51.999 ZM43.000,50.000 L44.999,50.000 L44.999,51.999 L43.000,51.999 L43.000,50.000 ZM39.000,50.000 L41.000,50.000 L41.000,51.999 L39.000,51.999 L39.000,50.000 ZM35.000,50.000 L37.000,50.000 L37.000,51.999 L35.000,51.999 L35.000,50.000 ZM31.000,53.999 L32.999,53.999 L32.999,56.000 L31.000,56.000 L31.000,53.999 ZM31.000,50.000 L32.999,50.000 L32.999,51.999 L31.000,51.999 L31.000,50.000 ZM31.000,46.000 L32.999,46.000 L32.999,48.000 L31.000,48.000 L31.000,46.000 ZM27.000,50.000 L29.000,50.000 L29.000,51.999 L27.000,51.999 L27.000,50.000 ZM23.000,50.000 L25.000,50.000 L25.000,51.999 L23.000,51.999 L23.000,50.000 ZM19.000,50.000 L20.999,50.000 L20.999,51.999 L19.000,51.999 L19.000,50.000 ZM14.293,17.293 L16.586,15.000 L-0.000,15.000 L-0.000,13.000 L16.585,13.000 L14.293,10.707 L15.707,9.293 L20.414,14.000 L15.707,18.707 L14.293,17.293 Z"/> </svg>
						p Делаем чертежи, 3D-рендеры, производим предварительный подбор материалов и мебели
					.work-items__card
						p.num 4
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px"> <path fill-rule="evenodd" fill="rgb(110, 43, 209)" d="M58.000,64.000 L58.000,38.000 L56.000,38.000 L56.000,36.000 L59.000,36.000 L60.000,36.000 L62.000,36.000 L62.000,33.999 L56.000,33.999 L56.000,32.000 L63.999,32.000 L63.999,64.000 L58.000,64.000 ZM62.000,38.000 L60.000,38.000 L60.000,62.000 L62.000,62.000 L62.000,38.000 ZM51.999,42.000 L40.000,42.000 L40.000,43.999 L38.000,43.999 L38.000,25.999 L40.000,25.999 L40.000,28.000 L51.999,28.000 L51.999,25.999 L54.000,25.999 L54.000,43.999 L51.999,43.999 L51.999,42.000 ZM51.999,29.999 L40.000,29.999 L40.000,32.000 L51.999,32.000 L51.999,29.999 ZM51.999,33.999 L40.000,33.999 L40.000,36.000 L51.999,36.000 L51.999,33.999 ZM51.999,38.000 L40.000,38.000 L40.000,40.000 L51.999,40.000 L51.999,38.000 ZM31.000,3.585 L31.000,-0.000 L33.000,-0.000 L33.000,3.585 L46.414,17.000 L17.585,17.000 L31.000,3.585 ZM31.999,5.413 L22.414,14.999 L41.586,14.999 L31.999,5.413 ZM23.999,25.999 L26.000,25.999 L26.000,43.999 L23.999,43.999 L23.999,42.000 L12.000,42.000 L12.000,43.999 L10.000,43.999 L10.000,25.999 L12.000,25.999 L12.000,28.000 L23.999,28.000 L23.999,25.999 ZM12.000,40.000 L23.999,40.000 L23.999,38.000 L12.000,38.000 L12.000,40.000 ZM12.000,36.000 L23.999,36.000 L23.999,33.999 L12.000,33.999 L12.000,36.000 ZM12.000,29.999 L12.000,32.000 L23.999,32.000 L23.999,29.999 L12.000,29.999 ZM28.000,47.999 L26.000,47.999 L26.000,64.000 L23.999,64.000 L23.999,51.999 L12.000,51.999 L12.000,64.000 L10.000,64.000 L10.000,47.999 L8.000,47.999 L8.000,46.000 L28.000,46.000 L28.000,47.999 ZM23.999,47.999 L12.000,47.999 L12.000,50.000 L23.999,50.000 L23.999,47.999 ZM6.000,64.000 L-0.001,64.000 L-0.001,32.000 L8.000,32.000 L8.000,33.999 L2.000,33.999 L2.000,36.000 L4.000,36.000 L5.000,36.000 L8.000,36.000 L8.000,38.000 L6.000,38.000 L6.000,64.000 ZM4.000,38.000 L2.000,38.000 L2.000,62.000 L4.000,62.000 L4.000,38.000 ZM36.000,38.000 L28.000,38.000 L28.000,36.000 L36.000,36.000 L36.000,38.000 ZM28.000,18.000 L30.000,18.000 C30.000,19.103 30.897,20.000 31.999,20.000 C33.102,20.000 34.000,19.103 34.000,18.000 L36.000,18.000 C36.000,20.205 34.206,22.000 31.999,22.000 C29.794,22.000 28.000,20.205 28.000,18.000 ZM36.000,33.999 L28.000,33.999 L28.000,32.000 L36.000,32.000 L36.000,33.999 ZM56.000,47.999 L54.000,47.999 L54.000,64.000 L51.999,64.000 L51.999,51.999 L40.000,51.999 L40.000,64.000 L38.000,64.000 L38.000,47.999 L36.000,47.999 L36.000,46.000 L56.000,46.000 L56.000,47.999 ZM51.999,47.999 L40.000,47.999 L40.000,50.000 L51.999,50.000 L51.999,47.999 Z"/> </svg>
						p Выполняем финальную комплектацию в рамках бюджета
		#contact
			section.contact-content
				.contact-content__text
					h2 Остались вопросы?
					.form-there
						p Если вы хотите вополотить свои мечты о домашнем уюте, но у вас еще есть вопросы, напишите мне и в ближайшее время я свяжусь с вами, чтобы дать ответы
						form
							input(type="text" placeholder="Ваше имя")
							input(type="text" placeholder="Телефон").phone
							button.call 
								span Позвоните мне
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="10px"> <path fill-rule="evenodd" fill="black" d="M25.242,5.000 L21.000,9.242 L21.000,5.999 L-0.000,5.999 L-0.000,3.999 L21.000,3.999 L21.000,0.757 L25.242,5.000 Z"/> </svg>
				.contact-content__img
					img(src="img/prefooter.png", alt="")
		footer
			p.about-comp
				strong CAMRINE 
				| &#8212; Авторская студия интерьеров
			.soc-there
				p Присоединяйтесь &#8212;
				ul
					li
						a(href="#")
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="21px"> <path fill-rule="evenodd" fill="rgb(0, 0, 0)" d="M17.476,4.894 C17.476,5.590 16.913,6.154 16.218,6.154 C15.523,6.154 14.959,5.590 14.959,4.894 C14.959,4.198 15.523,3.634 16.218,3.634 C16.913,3.634 17.476,4.198 17.476,4.894 ZM10.618,13.998 C8.687,13.998 7.122,12.431 7.122,10.498 C7.122,8.566 8.687,6.999 10.618,6.999 C12.550,6.999 14.115,8.566 14.115,10.498 C14.115,12.431 12.550,13.998 10.618,13.998 ZM10.618,5.107 C7.643,5.107 5.231,7.521 5.231,10.498 C5.231,13.476 7.643,15.891 10.618,15.891 C13.593,15.891 16.005,13.476 16.005,10.498 C16.005,7.521 13.593,5.107 10.618,5.107 ZM10.618,1.890 C13.419,1.890 13.751,1.901 14.857,1.952 C15.880,1.998 16.435,2.169 16.805,2.313 C17.295,2.504 17.644,2.732 18.011,3.099 C18.378,3.467 18.606,3.816 18.796,4.306 C18.939,4.676 19.111,5.232 19.157,6.257 C19.207,7.363 19.218,7.695 19.218,10.499 C19.218,13.303 19.207,13.635 19.157,14.741 C19.111,15.765 18.939,16.321 18.796,16.691 C18.606,17.181 18.378,17.531 18.011,17.899 C17.644,18.266 17.295,18.494 16.805,18.684 C16.435,18.828 15.880,18.999 14.857,19.046 C13.751,19.096 13.419,19.107 10.618,19.107 C7.817,19.107 7.485,19.096 6.379,19.046 C5.357,18.999 4.801,18.828 4.431,18.684 C3.942,18.494 3.592,18.266 3.225,17.899 C2.858,17.531 2.631,17.182 2.440,16.691 C2.296,16.321 2.126,15.765 2.079,14.741 C2.029,13.634 2.018,13.303 2.018,10.499 C2.018,7.695 2.029,7.363 2.079,6.257 C2.126,5.232 2.296,4.676 2.440,4.306 C2.631,3.816 2.858,3.467 3.225,3.099 C3.592,2.732 3.942,2.504 4.431,2.313 C4.801,2.169 5.357,1.998 6.379,1.952 C7.485,1.901 7.817,1.890 10.618,1.890 ZM10.618,-0.001 C7.769,-0.001 7.412,0.011 6.293,0.062 C5.177,0.113 4.414,0.291 3.747,0.550 C3.057,0.818 2.472,1.177 1.889,1.761 C1.306,2.344 0.947,2.930 0.679,3.620 C0.420,4.288 0.242,5.052 0.191,6.169 C0.140,7.289 0.128,7.647 0.128,10.498 C0.128,13.350 0.140,13.708 0.191,14.828 C0.242,15.945 0.420,16.709 0.679,17.376 C0.947,18.067 1.306,18.652 1.889,19.237 C2.472,19.820 3.057,20.179 3.747,20.447 C4.414,20.707 5.177,20.884 6.293,20.935 C7.412,20.987 7.769,20.998 10.618,20.998 C13.467,20.998 13.825,20.987 14.943,20.935 C16.060,20.884 16.822,20.707 17.489,20.447 C18.179,20.179 18.764,19.820 19.348,19.237 C19.930,18.652 20.289,18.067 20.557,17.376 C20.817,16.709 20.994,15.945 21.045,14.828 C21.096,13.708 21.108,13.350 21.108,10.498 C21.108,7.647 21.096,7.289 21.045,6.169 C20.994,5.052 20.817,4.288 20.557,3.620 C20.289,2.930 19.930,2.344 19.348,1.761 C18.764,1.177 18.179,0.818 17.489,0.550 C16.822,0.291 16.060,0.113 14.943,0.062 C13.825,0.011 13.467,-0.001 10.618,-0.001 Z"/> </svg>
					li
						a(href="#")
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="9px" height="21px"> <path fill-rule="evenodd" fill="rgb(0, 0, 0)" d="M8.905,0.895 L6.194,0.895 C6.194,0.895 1.954,0.429 1.954,5.049 C1.954,6.036 1.954,6.963 1.954,6.963 L0.230,6.963 L0.202,10.598 L1.954,10.598 L1.954,20.273 L5.974,20.273 L5.974,10.598 L8.295,10.598 L8.860,6.963 L5.974,6.963 L5.974,5.485 C5.974,5.485 5.727,4.235 7.156,4.235 L8.878,4.235 L8.905,0.895 Z"/> </svg>
					li
						a(href="#")
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="21px"> <path fill-rule="evenodd" fill="rgb(0, 0, 0)" d="M15.011,14.257 C15.011,12.946 14.673,11.902 13.999,11.126 C13.325,10.352 12.424,9.840 11.304,9.589 L11.304,9.486 C12.083,9.137 12.695,8.596 13.136,7.862 C13.582,7.124 13.803,6.290 13.803,5.346 C13.803,4.529 13.641,3.811 13.319,3.188 C12.999,2.567 12.511,2.067 11.862,1.694 C11.262,1.349 10.616,1.124 9.929,1.018 C9.242,0.906 8.229,0.853 6.896,0.853 L0.477,0.853 L0.477,20.176 L7.750,20.176 C9.012,20.176 10.049,20.054 10.866,19.811 C11.687,19.567 12.437,19.164 13.119,18.593 C13.699,18.115 14.157,17.516 14.498,16.791 C14.841,16.063 15.011,15.218 15.011,14.257 L15.011,14.257 ZM9.167,6.320 C9.167,6.005 9.091,5.685 8.942,5.359 C8.791,5.031 8.559,4.793 8.237,4.645 C7.938,4.505 7.583,4.427 7.171,4.414 C6.759,4.401 6.146,4.398 5.335,4.398 L5.017,4.398 L5.017,8.485 L5.592,8.485 C6.371,8.485 6.921,8.477 7.234,8.460 C7.545,8.443 7.871,8.352 8.204,8.189 C8.566,8.006 8.820,7.756 8.958,7.436 C9.096,7.112 9.167,6.739 9.167,6.320 L9.167,6.320 ZM10.311,14.168 C10.311,13.571 10.200,13.106 9.970,12.768 C9.741,12.427 9.400,12.175 8.945,12.003 C8.670,11.886 8.287,11.825 7.805,11.813 C7.321,11.800 6.671,11.794 5.859,11.794 L5.017,11.794 L5.017,16.631 L5.263,16.631 C6.450,16.631 7.271,16.623 7.726,16.604 C8.179,16.587 8.646,16.472 9.116,16.256 C9.533,16.063 9.832,15.785 10.025,15.417 C10.216,15.051 10.311,14.634 10.311,14.168 Z"/> </svg>
			a(href="tel:84951234567").phonenum +7 495 123 45 67
		.popupbackground.crewmember
			.popup
				.close-btn
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"> <path fill-rule="evenodd" fill="rgb(0, 0, 0)" d="M23.313,21.899 L21.899,23.314 L11.999,13.414 L2.100,23.314 L0.686,21.899 L10.585,12.000 L0.686,2.100 L2.100,0.686 L11.999,10.585 L21.899,0.686 L23.313,2.100 L13.414,12.000 L23.313,21.899 Z"/> </svg>
				img(src="img/nad.png", alt="").avatar
				.text-content
					h4 Надежда Требухина
					p Привет! Я Надя. Если ты хочешь дизайн, проработанный до самых мелких деталий, то я готова стать в этом твоим надежным партнером и другом. Например, для меня очень важны узлы примыкания и то как падает свет на различные поверхности. По менению моих клиентов я особенно сильна в вариантах планировок и сочитании фактур. 
					ul.soc
						li
							a(href="#").no-hover
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8px" height="17px"> <path fill-rule="evenodd" fill="rgb(66, 103, 178)" d="M7.994,0.016 L5.504,0.016 C5.504,0.016 1.610,-0.392 1.610,3.656 C1.610,4.520 1.610,5.332 1.610,5.332 L0.027,5.332 L0.001,8.516 L1.610,8.516 L1.610,16.992 L5.302,16.992 L5.302,8.516 L7.434,8.516 L7.953,5.332 L5.302,5.332 L5.302,4.037 C5.302,4.037 5.075,2.943 6.388,2.943 L7.968,2.943 L7.994,0.016 Z"/> </svg>
						li
							a(href="#").no-hover
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="15px"> <path fill-rule="evenodd" fill="rgb(29, 161, 242)" d="M0.191,10.965 C0.191,10.965 2.890,11.897 4.012,11.897 C4.012,11.897 5.510,12.489 6.537,10.905 C6.537,10.905 6.884,10.411 6.415,10.171 C6.415,10.171 2.133,9.678 2.459,8.900 C2.459,8.900 2.438,8.461 3.030,8.560 C3.030,8.560 3.856,6.990 3.529,6.791 C3.529,6.791 3.019,6.351 3.427,6.311 C3.427,6.311 4.627,6.471 5.015,6.571 C5.015,6.571 5.280,6.478 5.035,6.298 C4.790,6.117 4.383,5.713 4.464,5.634 C4.464,5.634 4.607,5.296 5.260,5.574 C5.260,5.574 5.623,5.189 5.440,4.991 C5.440,4.991 4.889,4.671 5.154,4.411 C5.154,4.411 6.397,2.882 7.783,5.294 C7.783,5.294 8.129,5.753 8.170,5.314 C8.170,5.314 9.864,0.593 12.088,0.213 C12.088,0.213 12.801,0.353 12.944,0.133 C12.944,0.133 13.562,-0.106 13.766,0.094 C13.766,0.094 13.970,0.393 14.215,0.213 C14.215,0.213 15.092,-0.126 14.827,0.433 C14.827,0.433 13.987,1.340 13.681,1.360 C13.375,1.380 13.436,1.784 13.701,1.824 C13.701,1.824 17.369,2.082 17.369,4.757 C17.369,4.757 17.584,5.393 18.277,4.735 C18.277,4.735 19.327,4.081 19.592,4.050 C19.592,4.050 19.878,3.870 19.837,4.289 C19.837,4.289 19.082,5.568 18.308,5.927 C18.308,5.927 17.838,6.505 18.512,6.386 C18.512,6.386 19.166,6.253 19.472,6.074 C19.472,6.074 20.268,5.695 19.901,6.373 C19.901,6.373 18.226,7.437 17.859,7.437 C17.859,7.437 17.614,7.496 17.614,7.716 C17.614,7.716 17.390,15.001 8.049,15.001 C8.049,15.001 3.372,14.996 0.313,11.483 C0.313,11.483 -0.278,10.864 0.191,10.965 Z"/> </svg>
						li
							a(href="#").no-hover
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="15px"> <path fill-rule="evenodd" fill="rgb(74, 118, 168)" d="M11.995,10.400 C11.995,9.383 11.716,8.574 11.159,7.973 C10.604,7.372 9.861,6.975 8.937,6.781 L8.937,6.701 C9.579,6.429 10.084,6.010 10.449,5.441 C10.816,4.869 10.998,4.222 10.998,3.490 C10.998,2.857 10.864,2.300 10.599,1.817 C10.335,1.335 9.933,0.947 9.397,0.658 C8.902,0.390 8.370,0.216 7.803,0.134 C7.236,0.048 6.401,0.006 5.301,0.006 L0.007,0.006 L0.007,14.989 L6.005,14.989 C7.047,14.989 7.902,14.896 8.576,14.707 C9.253,14.518 9.871,14.205 10.434,13.763 C10.912,13.393 11.290,12.928 11.571,12.365 C11.854,11.800 11.995,11.145 11.995,10.400 L11.995,10.400 ZM7.174,4.245 C7.174,4.001 7.112,3.753 6.988,3.500 C6.865,3.246 6.673,3.061 6.408,2.947 C6.161,2.838 5.868,2.777 5.528,2.768 C5.188,2.757 4.683,2.755 4.013,2.755 L3.751,2.755 L3.751,5.924 L4.225,5.924 C4.868,5.924 5.322,5.918 5.580,5.905 C5.837,5.892 6.105,5.822 6.380,5.695 C6.679,5.553 6.888,5.359 7.002,5.111 C7.116,4.860 7.174,4.570 7.174,4.245 L7.174,4.245 ZM8.118,10.331 C8.118,9.868 8.026,9.507 7.837,9.246 C7.648,8.982 7.366,8.786 6.992,8.652 C6.765,8.561 6.449,8.514 6.050,8.505 C5.652,8.494 5.115,8.490 4.446,8.490 L3.751,8.490 L3.751,12.241 L3.955,12.241 C4.933,12.241 5.611,12.235 5.985,12.220 C6.359,12.206 6.745,12.118 7.133,11.950 C7.476,11.800 7.723,11.585 7.882,11.300 C8.040,11.016 8.118,10.692 8.118,10.331 Z"/> </svg>
					p.cont 
						a(href="mailto:info@carminehome.com") info@carminehome.com
					p.cont
						a(href="tel:+79266286972").cont +7-926-628-69-72
		.popupbackground.flat
			.popup
				.close-btn
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M23.313,21.899 L21.899,23.313 L12.000,13.414 L2.100,23.313 L0.686,21.899 L10.585,11.999 L0.686,2.100 L2.100,0.686 L12.000,10.585 L21.899,0.686 L23.313,2.100 L13.414,11.999 L23.313,21.899 Z"/> </svg>
				img(src="img/popup.png", alt="").main-img
				.popup-body
					p.low-text Дизайн проект
					h5 Скандинавский стиль
					.table-content
						p площадь:
						span.meter 35.6м
							sup 2
					.table-content
						p включено в проект:
						ul
							li Обмерный план
							li План монтажа
							li План расстановки мебели
							li План пола
							li План расстановки сантехнического оборудования
							li План электрики
							li Развертки помещений
							li Сводные ведомости отделочных материалов, мебели и др.
							li 3Д визуализация
							li Смета на ремонт и материалы
					p.main-text Проект однокомнатной квартиры выполнен в скандинавском стиле и предполагает проживание одного или двух человек. Гостиная комната - самая универсальная зона проекта. Она насыщена разными функциями – это и спальня, отгороженная от основного пространства перегородкой из ГКЛ – в которой встроен гардеробный шкаф; рабочая зона – небольшой, но вместительный стеллаж, необходимое количество электровыводов для техники и подключения дополнительного освещения; зона отдыха – раскладной диван и гостиный гарнитур с дополнительным хранением. Кухня данного проекта включает в себя весь необходимый набор функций, несмотря на ее небольшие габариты. Отделка квартиры выполнена в достаточно динамичных оттенках, что произведет впечатление на гостей хозяев квартиры. Но в целом образ квартиры не кажется тяжелым, в каждом помещении стена с ярким акцентом уравновешена стеной в белом цвете.
					.slick
						.slick-item
							img(src="img/sl.png", alt="")
						.slick-item
							img(src="img/sl.png", alt="")
						.slick-item
							img(src="img/sl.png", alt="")
						.slick-item
							img(src="img/sl.png", alt="")
						.slick-item
							img(src="img/sl.png", alt="")
					.hr
					.send-popup
						button.send-there отправить заявку
						ul.soc
							li
								a(href="#").no-hover
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8px" height="17px"> <path fill-rule="evenodd" fill="rgb(66, 103, 178)" d="M7.994,0.016 L5.504,0.016 C5.504,0.016 1.610,-0.392 1.610,3.656 C1.610,4.520 1.610,5.332 1.610,5.332 L0.027,5.332 L0.001,8.516 L1.610,8.516 L1.610,16.992 L5.302,16.992 L5.302,8.516 L7.434,8.516 L7.953,5.332 L5.302,5.332 L5.302,4.037 C5.302,4.037 5.075,2.943 6.388,2.943 L7.968,2.943 L7.994,0.016 Z"/> </svg>
							li
								a(href="#").no-hover
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17px" height="17px"> <defs> <linearGradient id="PSgrad_0" x1="5.234%" x2="0%" y1="0%" y2="99.863%"> <stop offset="0%" stop-color="rgb(103,31,159)" stop-opacity="1" /> <stop offset="55%" stop-color="rgb(196,51,144)" stop-opacity="1" /> <stop offset="100%" stop-color="rgb(253,169,70)" stop-opacity="1" /> </linearGradient> </defs> <path fill-rule="evenodd" fill="rgb(0, 0, 0)" d="M14.057,3.962 C14.057,4.525 13.600,4.982 13.037,4.982 C12.473,4.982 12.016,4.525 12.016,3.962 C12.016,3.398 12.473,2.941 13.037,2.941 C13.600,2.941 14.057,3.398 14.057,3.962 ZM8.499,11.332 C6.935,11.332 5.666,10.063 5.666,8.499 C5.666,6.934 6.935,5.666 8.499,5.666 C10.064,5.666 11.333,6.934 11.333,8.499 C11.333,10.063 10.064,11.332 8.499,11.332 ZM8.499,4.134 C6.089,4.134 4.134,6.088 4.134,8.499 C4.134,10.909 6.089,12.864 8.499,12.864 C10.910,12.864 12.864,10.909 12.864,8.499 C12.864,6.088 10.910,4.134 8.499,4.134 ZM8.499,1.530 C10.769,1.530 11.038,1.539 11.934,1.580 C12.763,1.618 13.213,1.756 13.512,1.873 C13.909,2.026 14.192,2.211 14.490,2.509 C14.787,2.806 14.971,3.089 15.126,3.486 C15.242,3.785 15.381,4.235 15.418,5.064 C15.459,5.961 15.468,6.230 15.468,8.499 C15.468,10.769 15.459,11.038 15.418,11.934 C15.381,12.762 15.242,13.212 15.126,13.512 C14.971,13.908 14.787,14.192 14.490,14.489 C14.192,14.787 13.909,14.971 13.512,15.125 C13.213,15.241 12.763,15.380 11.934,15.418 C11.038,15.459 10.769,15.467 8.499,15.467 C6.229,15.467 5.961,15.459 5.065,15.418 C4.236,15.380 3.786,15.242 3.486,15.125 C3.089,14.971 2.806,14.787 2.509,14.489 C2.211,14.192 2.027,13.909 1.873,13.512 C1.757,13.212 1.618,12.762 1.580,11.934 C1.539,11.037 1.531,10.769 1.531,8.499 C1.531,6.230 1.539,5.961 1.580,5.064 C1.618,4.235 1.757,3.785 1.873,3.486 C2.027,3.089 2.211,2.806 2.509,2.509 C2.806,2.211 3.089,2.026 3.486,1.873 C3.786,1.756 4.236,1.618 5.065,1.580 C5.961,1.539 6.230,1.530 8.499,1.530 ZM8.499,-0.001 C6.191,-0.001 5.901,0.009 4.995,0.049 C4.090,0.091 3.472,0.235 2.931,0.445 C2.373,0.662 1.899,0.953 1.426,1.425 C0.954,1.898 0.663,2.372 0.446,2.931 C0.236,3.471 0.092,4.089 0.051,4.994 C0.009,5.901 -0.000,6.191 -0.000,8.499 C-0.000,10.807 0.009,11.097 0.051,12.003 C0.092,12.908 0.236,13.526 0.446,14.066 C0.663,14.625 0.954,15.100 1.426,15.572 C1.899,16.044 2.373,16.335 2.931,16.553 C3.472,16.763 4.090,16.906 4.995,16.947 C5.901,16.989 6.191,16.998 8.499,16.998 C10.808,16.998 11.098,16.989 12.004,16.947 C12.909,16.906 13.526,16.763 14.067,16.553 C14.626,16.335 15.100,16.044 15.573,15.572 C16.045,15.100 16.336,14.625 16.553,14.066 C16.763,13.526 16.907,12.908 16.948,12.003 C16.990,11.097 16.999,10.807 16.999,8.499 C16.999,6.191 16.990,5.901 16.948,4.994 C16.907,4.089 16.763,3.471 16.553,2.931 C16.336,2.372 16.045,1.898 15.573,1.425 C15.100,0.953 14.626,0.662 14.067,0.445 C13.526,0.235 12.909,0.091 12.004,0.049 C11.098,0.009 10.808,-0.001 8.499,-0.001 Z"/> <path fill="url(#PSgrad_0)" d="M14.057,3.962 C14.057,4.525 13.600,4.982 13.037,4.982 C12.473,4.982 12.016,4.525 12.016,3.962 C12.016,3.398 12.473,2.941 13.037,2.941 C13.600,2.941 14.057,3.398 14.057,3.962 ZM8.499,11.332 C6.935,11.332 5.666,10.063 5.666,8.499 C5.666,6.934 6.935,5.666 8.499,5.666 C10.064,5.666 11.333,6.934 11.333,8.499 C11.333,10.063 10.064,11.332 8.499,11.332 ZM8.499,4.134 C6.089,4.134 4.134,6.088 4.134,8.499 C4.134,10.909 6.089,12.864 8.499,12.864 C10.910,12.864 12.864,10.909 12.864,8.499 C12.864,6.088 10.910,4.134 8.499,4.134 ZM8.499,1.530 C10.769,1.530 11.038,1.539 11.934,1.580 C12.763,1.618 13.213,1.756 13.512,1.873 C13.909,2.026 14.192,2.211 14.490,2.509 C14.787,2.806 14.971,3.089 15.126,3.486 C15.242,3.785 15.381,4.235 15.418,5.064 C15.459,5.961 15.468,6.230 15.468,8.499 C15.468,10.769 15.459,11.038 15.418,11.934 C15.381,12.762 15.242,13.212 15.126,13.512 C14.971,13.908 14.787,14.192 14.490,14.489 C14.192,14.787 13.909,14.971 13.512,15.125 C13.213,15.241 12.763,15.380 11.934,15.418 C11.038,15.459 10.769,15.467 8.499,15.467 C6.229,15.467 5.961,15.459 5.065,15.418 C4.236,15.380 3.786,15.242 3.486,15.125 C3.089,14.971 2.806,14.787 2.509,14.489 C2.211,14.192 2.027,13.909 1.873,13.512 C1.757,13.212 1.618,12.762 1.580,11.934 C1.539,11.037 1.531,10.769 1.531,8.499 C1.531,6.230 1.539,5.961 1.580,5.064 C1.618,4.235 1.757,3.785 1.873,3.486 C2.027,3.089 2.211,2.806 2.509,2.509 C2.806,2.211 3.089,2.026 3.486,1.873 C3.786,1.756 4.236,1.618 5.065,1.580 C5.961,1.539 6.230,1.530 8.499,1.530 ZM8.499,-0.001 C6.191,-0.001 5.901,0.009 4.995,0.049 C4.090,0.091 3.472,0.235 2.931,0.445 C2.373,0.662 1.899,0.953 1.426,1.425 C0.954,1.898 0.663,2.372 0.446,2.931 C0.236,3.471 0.092,4.089 0.051,4.994 C0.009,5.901 -0.000,6.191 -0.000,8.499 C-0.000,10.807 0.009,11.097 0.051,12.003 C0.092,12.908 0.236,13.526 0.446,14.066 C0.663,14.625 0.954,15.100 1.426,15.572 C1.899,16.044 2.373,16.335 2.931,16.553 C3.472,16.763 4.090,16.906 4.995,16.947 C5.901,16.989 6.191,16.998 8.499,16.998 C10.808,16.998 11.098,16.989 12.004,16.947 C12.909,16.906 13.526,16.763 14.067,16.553 C14.626,16.335 15.100,16.044 15.573,15.572 C16.045,15.100 16.336,14.625 16.553,14.066 C16.763,13.526 16.907,12.908 16.948,12.003 C16.990,11.097 16.999,10.807 16.999,8.499 C16.999,6.191 16.990,5.901 16.948,4.994 C16.907,4.089 16.763,3.471 16.553,2.931 C16.336,2.372 16.045,1.898 15.573,1.425 C15.100,0.953 14.626,0.662 14.067,0.445 C13.526,0.235 12.909,0.091 12.004,0.049 C11.098,0.009 10.808,-0.001 8.499,-0.001 Z"/> </svg>
							li
								a(href="#").no-hover
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="15px"> <path fill-rule="evenodd" fill="rgb(29, 161, 242)" d="M0.191,10.965 C0.191,10.965 2.890,11.897 4.012,11.897 C4.012,11.897 5.510,12.489 6.537,10.905 C6.537,10.905 6.884,10.411 6.415,10.171 C6.415,10.171 2.133,9.678 2.459,8.900 C2.459,8.900 2.438,8.461 3.030,8.560 C3.030,8.560 3.856,6.990 3.529,6.791 C3.529,6.791 3.019,6.351 3.427,6.311 C3.427,6.311 4.627,6.471 5.015,6.571 C5.015,6.571 5.280,6.478 5.035,6.298 C4.790,6.117 4.383,5.713 4.464,5.634 C4.464,5.634 4.607,5.296 5.260,5.574 C5.260,5.574 5.623,5.189 5.440,4.991 C5.440,4.991 4.889,4.671 5.154,4.411 C5.154,4.411 6.397,2.882 7.783,5.294 C7.783,5.294 8.129,5.753 8.170,5.314 C8.170,5.314 9.864,0.593 12.088,0.213 C12.088,0.213 12.801,0.353 12.944,0.133 C12.944,0.133 13.562,-0.106 13.766,0.094 C13.766,0.094 13.970,0.393 14.215,0.213 C14.215,0.213 15.092,-0.126 14.827,0.433 C14.827,0.433 13.987,1.340 13.681,1.360 C13.375,1.380 13.436,1.784 13.701,1.824 C13.701,1.824 17.369,2.082 17.369,4.757 C17.369,4.757 17.584,5.393 18.277,4.735 C18.277,4.735 19.327,4.081 19.592,4.050 C19.592,4.050 19.878,3.870 19.837,4.289 C19.837,4.289 19.082,5.568 18.308,5.927 C18.308,5.927 17.838,6.505 18.512,6.386 C18.512,6.386 19.166,6.253 19.472,6.074 C19.472,6.074 20.268,5.695 19.901,6.373 C19.901,6.373 18.226,7.437 17.859,7.437 C17.859,7.437 17.614,7.496 17.614,7.716 C17.614,7.716 17.390,15.001 8.049,15.001 C8.049,15.001 3.372,14.996 0.313,11.483 C0.313,11.483 -0.278,10.864 0.191,10.965 Z"/> </svg>
							li
								a(href="#").no-hover
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="15px"> <path fill-rule="evenodd" fill="rgb(74, 118, 168)" d="M11.995,10.400 C11.995,9.383 11.716,8.574 11.159,7.973 C10.604,7.372 9.861,6.975 8.937,6.781 L8.937,6.701 C9.579,6.429 10.084,6.010 10.449,5.441 C10.816,4.869 10.998,4.222 10.998,3.490 C10.998,2.857 10.864,2.300 10.599,1.817 C10.335,1.335 9.933,0.947 9.397,0.658 C8.902,0.390 8.370,0.216 7.803,0.134 C7.236,0.048 6.401,0.006 5.301,0.006 L0.007,0.006 L0.007,14.989 L6.005,14.989 C7.047,14.989 7.902,14.896 8.576,14.707 C9.253,14.518 9.871,14.205 10.434,13.763 C10.912,13.393 11.290,12.928 11.571,12.365 C11.854,11.800 11.995,11.145 11.995,10.400 L11.995,10.400 ZM7.174,4.245 C7.174,4.001 7.112,3.753 6.988,3.500 C6.865,3.246 6.673,3.061 6.408,2.947 C6.161,2.838 5.868,2.777 5.528,2.768 C5.188,2.757 4.683,2.755 4.013,2.755 L3.751,2.755 L3.751,5.924 L4.225,5.924 C4.868,5.924 5.322,5.918 5.580,5.905 C5.837,5.892 6.105,5.822 6.380,5.695 C6.679,5.553 6.888,5.359 7.002,5.111 C7.116,4.860 7.174,4.570 7.174,4.245 L7.174,4.245 ZM8.118,10.331 C8.118,9.868 8.026,9.507 7.837,9.246 C7.648,8.982 7.366,8.786 6.992,8.652 C6.765,8.561 6.449,8.514 6.050,8.505 C5.652,8.494 5.115,8.490 4.446,8.490 L3.751,8.490 L3.751,12.241 L3.955,12.241 C4.933,12.241 5.611,12.235 5.985,12.220 C6.359,12.206 6.745,12.118 7.133,11.950 C7.476,11.800 7.723,11.585 7.882,11.300 C8.040,11.016 8.118,10.692 8.118,10.331 Z"/> </svg>
							li
								a(href="#").no-hover
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19px" height="17px"> <path fill-rule="evenodd" fill="rgb(47, 167, 219)" d="M15.294,16.999 C15.146,16.999 14.998,16.955 14.872,16.869 L10.094,13.627 L7.532,15.472 C7.331,15.617 7.072,15.653 6.839,15.569 C6.606,15.486 6.428,15.293 6.365,15.053 L5.078,10.175 L0.481,8.416 C0.192,8.305 -0.001,8.028 -0.003,7.718 C-0.004,7.408 0.184,7.129 0.471,7.014 L17.953,0.055 C18.032,0.022 18.116,0.002 18.201,-0.003 C18.231,-0.005 18.261,-0.005 18.292,-0.003 C18.467,0.008 18.640,0.079 18.774,0.211 C18.788,0.224 18.801,0.238 18.813,0.252 C18.925,0.380 18.986,0.535 18.997,0.693 C19.000,0.733 19.000,0.773 18.997,0.813 C18.994,0.842 18.990,0.871 18.984,0.899 L16.033,16.388 C15.986,16.637 15.817,16.844 15.583,16.941 C15.490,16.980 15.392,16.999 15.294,16.999 L15.294,16.999 ZM10.514,12.093 L14.770,14.981 L17.066,2.929 L8.773,10.912 L10.494,12.080 C10.501,12.084 10.507,12.089 10.514,12.093 L10.514,12.093 ZM6.971,11.451 L7.540,13.611 L8.769,12.727 L7.161,11.636 C7.086,11.586 7.022,11.523 6.971,11.451 L6.971,11.451 ZM2.819,7.699 L5.976,8.907 C6.203,8.993 6.372,9.183 6.435,9.417 L6.835,10.935 C6.853,10.760 6.933,10.596 7.062,10.472 L14.963,2.865 L2.819,7.699 Z"/> </svg>

		//jquery
		script(src="js/jquery-3.3.1.min.js")
		//plugins
		script(src="js/slick.min.js")
		script(src="js/jquery.inputmask.bundle.min.js")
		//script
		script(src='js/index.js')



